*{
    border: solid 3px red;
}
html{
    border: solid 5px yellow;
}
body{
    border: solid 4px blue;
}


.box1{
    border: solid 3px #6e6e6e ;
}
.box2{
    border-top: solid 1px orange;
    border-right: dotted 2px skyblue;
    border-bottom: dashed 2px red;
    border-left: double 2px green;
    border-radius: 7px;
    box-shadow: 3px 7px 10px;
    text-align: center;   /* box 자체가 아닌 box 내 내용물이 정렬됨 */
    width: 300px;
    height: 300px;
}


.box3 {text-align: center;}
input{ 
    width: 150px; height: 50px;
    border: solid 1px gray;
    border-radius: 5px;
}
form{ text-align: center;}


.box4{
    padding: 50px;
    margin: 60px;
}
.box5{
    width: 100px;
    padding-top :20px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 50px;
    margin-top: 50px ;
    margin-right: 20px;
    margin-left: 120px;
    margin-bottom: 40px;
}
.box6{
    padding: 20px 30px 40px 50px ;
}
.box7{
    width: 200px; height: 200px;
    margin: 0 auto;
    background-color: brown;
}

