*{
    border: 1px solid red;     /* 작업용으로 지정 */
    margin: 0px; padding: 0px;   /* 여백 기본값 초기화 */
    box-sizing: border-box ;     /* 모델 크기의 기준 설정 */
}   /* 레이아웃 전 CSS 전 작업 */

#wrap{
    width: 1280px;  /* 페이지 전체 사이즈 지정 : PC 기준 1100~1300px */
    margin: 0 auto; /* 컨텐츠를 중앙으로 지정 */
}

#header{
    height: 200px;  /* 작업용으로 지정 */
}

#main{
    height: 500px;  /* 작업용으로 지정 */
    display: flex;
    flex-direction: nowrap;     /* 기본값 (생략가능) */
    flex-direction: row ;       /* 기본값 (생략가능) */
    justify-content: space-between;     /* 각 구역을 균일하게 정렬(양쪽 끝 여백 X) */
    align-items: stretch;       /* 기본값 (생략가능) */
}

#footer{
    height: 100px;  /* 작업용으로 지정 */
}

#content{
    width: 830px;
}
#aside{
    width: 420px;
}