
.li{
    color: white;
    background-color:#0f6578;
    width: 380px;
    height: 75px;
    padding: 10px 10px 10px 10px;
}

.x, .y{
    line-height: 20%;
}

.point, .box{
    color: orange;
}

.box{
    font-size: 40px;
}