.box{
    border: 1px solid red;
    width: 100px;
}
.flexbox1{
    border: 1px solid blue;
    display: flex;
    width: 250px;
    flex-wrap: nowrap ;
}
.flexbox2{
    border: 1px solid blue;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
}
.flexbox3{
    border: 1px solid blue;
    width: 250px;
    display: flex;
    flex-wrap: wrap-reverse;
}
.flexbox4{
    border: 1px solid blue;
    width: 250px;
    display: flex;
    flex-direction: row;
}
.flexbox5{
    border: 1px solid blue;
    width: 200px;
    display: flex;
    flex-direction: column;
}
