*{
    /*border: 2px solid red;*/
    margin: 0px auto;
    padding: 0px auto;
}
li{list-style: none;}
body{width: auto; margin: 0px 10%;}


#top{ justify-content: flex-end;}
#topmn, #lan, #ser{display: flex;}
#topmn{margin-left: 60%;}
#topmn > li{margin: 5px; }      /*크기수정*/
/*topmenu*/

#hdbottom{
    display: flex; 
    justify-content:space-between;
    border-bottom: 3px  solid gray;
}
#bottommn{
    font-size: 20px;
    display: flex;
    align-items: center;
}
#bottommn > li{ margin-right: 55px;}
/*bottommenu*/
/*head*/



#jointitle{font-size: 33px;}
.point1{color: red;}    /**/
/*main top*/

#join{
    border-top: 1px solid blue; /**/ 
    margin-top: 3px;
    display: flex;
}
#joinleft, #joinright{
    width: 50%;
    height: 100px;
    font-size: 13px;
    background-color: gray; /**/
    text-align: center;
}
#joinleft{padding-top: 50px; border-right: black;}  /**/
#joinright{padding-top: 25px; padding-bottom: 25px;}
.joinbt{
    margin-top: 7px;
    font-size: 17px;
    color: white;
    background-color: red;  /**/
    font-weight: bold;
    width: 40%;
    height: 40px;
}
/*main body*/


#mainbottom{
    border: 1px solid gray;
}
#mitop{
    text-align: center;
    border-bottom: 1px solid gray; /**/
    margin: 15px 0px;
}
#mitop > h3{ font-size:25px; color :red;} /**/

#listtitle {
    margin: 0% 10%;
    padding-top: 2%;
    padding-left: 2%;
    width: 80%;
    background-color: gray; /**/
}
#listitle > h5 { margin-bottom: 10px;}      /*marginbottom수정*/
#list{display: flex;}
#list > ul { margin-bottom: 5%; padding-left: 0%; padding-right: 20%;}
#list > ul > li{width: 300%}    /* liststyletype 지정해야함 */

#ms{
    display: flex;
    justify-content: end;
    font-size: 13px;
    color: gray;    /**/
}