*{
    /*border: 2px solid red;*/
    margin: 0px auto;
    padding: 0px auto;    
}
#wrap{ width: 1900px;}              /* 페이지 기본 사이즈 설정 */
li{list-style: none;}
a{text-decoration-line: none; } 
body{ width: 100%;}
#main, #bottom{ width: 80%;}
#header{width: 100%;}

#hdtop{
    background-color: #444444;
    height: 50px;
    border-top: 2px solid orange;
}

#top{ justify-content: flex-end; }
#topmn, #lan, #ser{display: flex;}
#topmn{margin-left: 60%;}
#topmn > li{
    margin-top: 10px;
    color: white; 
    text-align: center; 
    margin-right: 10px;
}
#lan{ 
    padding: 0% 10%;
    background-color: gray;
    color: white;
    font-weight: bold;
    height: 100%;
}
#ser{
    background-image: url(serimg.png);
    background-size: 30px; 
    width: 30px;
    height: 30px;  
    border: none;
    margin-left: 7%;
    margin-top: -4%;
}
/*topmenu*/

#logo{width: 10%; height: 70%; margin-top: 1%;   }
#hdbottom{
    display: flex; 
    justify-content:space-between;
    border-bottom: 2px solid #ddd;
    height: 110px;
    font-weight: bold;
    color: #444444;
}  
#bottommn{
    font-size: 20px;
    display: flex;
    align-items: center;  
}
#bottommn > li{ width: 250px;}
/*bottommenu*/
/*head*/


#main{width: 80%;}
#jointitle{font-size: 33px;}
.point1{color: #009688;}   
/*main top*/

#join{
    border-top: 3px solid #009688; 
    margin-top: 3px;
    display: flex;
}
#joinleft, #joinright{
    width: 50%;
    height: 100px;
    font-size: 80%;
    background-color: #f5f5f5;
    text-align: center;
}
#joinleft{
    padding-top: 50px; 
    border-right: 1px solid #ddd;
}  /**/
#joinright{padding-top: 25px; padding-bottom: 25px;}
.joinbt{
    margin-top: 7px;
    font-size: 17px;
    color: white;
    background-color: #009688;
    font-weight: bold;
    border: none;
    width: 40%;
    height: 40px;
}
/*main body*/


#mitop{
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin-top: 2%;
}
#mainbottom{
    border: 1px solid #ddd;
}
#mitop > h3{ font-size:25px; color : #009688;} 
#mitop > p{margin-bottom: 2%;}

#mibottom{ margin-left: 10%; margin-top: 3%;}
#btlist {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    padding-top: 2%;
    padding-left: 2%;
    width: 80%;
    background-color:  #f5f5f5; 
}
#btlist > h5 { 
    margin-bottom: 10px; 
    color: #009688;
    font-size: 16px;
    font-weight: bold;
}    
#list{display: flex;}
#list > ul { margin-bottom: 5%; padding-left: 0%; padding-right: 20%;}
#list > ul > li{
    width: 300%; 
    margin-bottom: 3%; 
    font-size: 15px;
    color: #444444;
}

#ms{
    margin-top: 1%;
    margin-bottom: 5%;
    margin-right: 8%;
    font-weight: bold;
    display: flex;
    justify-content: end;
    font-size: 13px;
    color: gray;    
}
/* main bottom */

#stk{
    position: sticky;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: orange;
    color: white;
    border: none;
    font-size: 25px;
    font-weight: bold;
    z-index: 2;
    bottom: 65px;
    left: 80%;
}


#footer_wrap{background-color: #7e8389; font-family: 'Noto Sans KR'; font-size: 12px;
    width: 100%; height: 400px; margin-top: 3% ; padding-left: 8%; flex-wrap: wrap;}

#footer_wrap > ul{display: flex; justify-content: center;  
    flex-wrap: wrap;
padding: 0px; margin: 0px; list-style: none;}

#footer_wrap > li{padding: 0; margin: 0px;}



.footer_content{color: #ffffff;}

.top_area{font-family: 'Noto Sans KR'; font-size: 12px; color:#ffffff; padding-left: 0%;}

.footer_go{background-color: rgb(43, 43, 43); border: none; width: 62px; height: 21px; font-size: 11px; text-align: center;}

#footerWrap .left_area { float:left; width:310px; margin-top:47px;}
#footerWrap .left_area .footlogo { margin-bottom:17px;}

.left_area{width: 20%; justify-content: start; margin-left: 29px;}

#bottomright{ width: 70%; margin-left: 22%; margin-top: -12%;}
.footlogo{margin-top: 20px; margin-bottom: 30px;}
.top_area > li {float:left; font-size: 14px; display: flex; font-weight: bold;}
#select1, #select2 {margin-top: 5%; width: 25%; margin-left: 40px; }
#select2{ margin-left: 33%; margin-top: -5%;}

.bottom_mark{margin-left: 67% ;}
#select1 > li > select { width: 50%; margin-top: 3%;} 
#select2 > li > select { width: 50%; margin-top: 3%;}

.left_area_icon{margin-top: 50px;}

.contentsicon{width:50px; height: auto;}


