*{padding: 0px auto;margin: 0px auto;}
li{list-style: none;}

#header{width: 100%; height: 200px;}
#main { width: 1620px;}
#logo{font-size: 50px;}
body{width: 100%;}

#sidebar{
    display: flex;
    margin: 0 auto; 
    position: sticky;
    top: 500px;
    left: 2600px;    
    width: 100px;
    height: 100px;
}
#sidebar > ul >li{
    border: 1px solid rgb(206, 202, 202);
    width: 70px;
    height: 70px;
    background-color: #f7f7f7;

}


#hedertop{
    display: flex;
    width: 2600px;
    height: 50px; 
}
#topmenu{
    display: flex; 
    width: 2550px;
    height: 50px;
    justify-content: flex-end;
}
#topmnpoint{ background-color: yellow; font-weight: bold;   }
#topmenu >li{  
    padding-top: 11px;
    margin-right: 0px;
    margin-left: 15px;
    justify-content: flex-end;
 }


#bottommenu{ 
    display: flex; 
    width: 2600px; 
    
    position: sticky;
    top: 0px;
   
}
#bottommenu > ul{ display: flex ; width: 2204px;  z-index: 999;}
#bottommenu > ul > li{ position: relative; }
#bottommenu .submenu{ 
  position: absolute; top: 80px;
  background-color: white;
  width: 130px;        
  text-align: center;
  display: none;
  margin: auto;
  padding: auto;
  top: 21px;
  right: -40px;
  
}
#bottommenu .submenu > li{ margin:10px;}
#bottommenu > ul > li:hover .submenu{ display: block;}

#style{
    border-top: none;
    border-left: none;
    border-right: none;    
}


#main{height: 1500px;}
#title{text-align: center; height: 200px;}
#maintop, #mainbottom{ display: flex; flex-wrap: wrap; }
#title > h2{margin-top: 70px; font-size: 25px;}
#title > p {color: gray;}
#content{ width: 390px; height: 500px; margin-bottom: 100px;}
img{ width: 390px; margin-bottom: 10px;}
#content > h4{font-size: 18px;}
#size{ color: gray;}
#point{ color: blue; font-weight: bold;}


#footer{
    display: flex; 
    align-items: center; 
    width: 100%; 
    height: 350px; 
    background-color:#f7f7f7;
}
#footercontent{
    width: 100%; 
    display: flex;
    color: black;
}
#ftpoint{ font-size: 30px; font-weight: bold;}
